.zoom-helper-hidden{
	opacity: 0;
}
.zoom-container{
	position: relative;
	overflow: hidden;
}
.drag-container{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	cursor: url(img/openhand.cur), default;
}
.closehand{
	cursor: url(img/closedhand.cur), default;
}
.zoomer-inner{
	position: absolute;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.zoomer-outer{
	position: absolute;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
}

.min-map-contianer{
	position: absolute;
	width: 14%;
	height: 14%;
	top: 20px;
	right: 20px;
	overflow: hidden;
}
.min-map{
	position: absolute;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.min-map-outer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.min-map-view{
	position: absolute;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}
